*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

img{
  width: 100%;
}

h2{
  margin: 0;
}

/*estilos de fondo*/

.image-backgroung{
  width: 100%;
  height: 100vh;
  background-image: url(../assets/img/porta-01.png);
  background-size: cover;
}

/*estilos a navbar*/

.nav-dinamic{
  color: white;
  position: fixed;
  right: 0;
  z-index: 1000;
}

.nav-dinamic ul{
  outline: 1px solid red;
  display: inline-block;
}

.nav-dinamic li{
  display: inline-block;
  padding: 20px;
}

#toggle{
  display: inline-block;
  padding: 20px;
}


/*estilos a about me*/

.aboutme-2{
  background-image: url(../assets/img/fondo-estrellas.jpg);
  background-size: cover;
}

/*estilos a my jobs*/

.my-jobs{
}

/*estilos a contact me*/

/**/

/**/

/**/