<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Athiti|Berkshire+Swash" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/views.css">
  <title>Mis trabajos</title>
</head>
<body>
  <div class="back" id="back1">
    <i class="fas fa-arrow-left" ></i>
  </div>
  <section class="1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 title">
          <div class="col-xs-12">
            <h1>Movie Without Conflict</h1>
          </div>
          <div class="col-sm-5">
            <img src="../assets/img/tef.png" alt="innova">
          </div>   
          <div class="col-sm-7">
            <h3>Reto</h3>
            <p>El reto propuesto en la hackaton interna de Laboratoria proponía buscar y solucionar un problema relacionado a las películas haciendo uso del API OMdb.</p>
            <h3>Rol y Equipo</h3>
            <p>El equipo estuvo formado por 4 integrantes, y mi principal función fue definir el prototipo y maquetar la solución en base al mismo.</p>
            <div class="buttons-j">
              <a href="https://andreeg.github.io/hackathon-cine/" target="_blank"><input type="submit" value="Ver prototipo" class="btn btn-primary btn-lg"></a>
            </div>
          </div>         
        </div>
      </div>
    </div>
  </section>
  <section class="2">
    <div class="container-fluid">
      <div class="row solution">
        <div class="col-xs-10 col-xs-offset-1 solution-text">
          <h3>Solución del Problema</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus odit culpa facilis similique accusantium, quis quisquam sapiente voluptas molestiae, eius sequi doloremque veritatis repudiandae? Dolore cupiditate eius et voluptas officia!</p>
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <img src="../assets/img/dt2.png" alt="design thinking">
          </div>
          <div class="buttons-j col-xs-12">
            <a href="https://github.com/AndreEG/hackathon-cine" target="_blank"><input type="submit" value="Ver Repo" class="btn btn-primary btn-lg btn-repo"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="3">
    <div class="container-fluid">
      <div class="row tools">
        <div class="col-xs-10 col-xs-offset-1 tools-text">
          <h3>Herramientas Usadas</h3>
          <div class="icon-container">
              <div class="icon-description">
                <img src="../assets/icons/formularios.svg" alt="icon formularios" class="col-icon">
                <p>Formularios</p>
              </div>
              <div class="icon-description">
                <img src="../assets/icons/entrevistas.svg" alt="icon formularios" class="col-icon">
                <p>Entrevistas</p>
              </div>
              <div class="icon-description">
                <img src="../assets/icons/afinitymap.svg" alt="icon formularios" class="col-icon">
                <p>Afinity Map</p>
              </div>
              <div class="icon-description">
                <img src="../assets/icons/user.svg" alt="icon formularios" class="col-icon">
                <p>User persona</p>
              </div>
              <div class="icon-description">
                <img src="../assets/icons/benchmark.svg" alt="icon formularios" class="col-icon">
                <p>Benchmark</p>
              </div>
              <div class="icon-description">
                <img src="../assets/icons/list.svg" alt="icon formularios" class="col-icon">
                <p>Feature list</p>
              </div>
              <div class="icon-description">
                <img src="../assets/icons/priorizacion.svg" alt="icon formularios" class="col-icon">
                <p>Priorización</p>
              </div>
              <div class="icon-description">
                <img src="../assets/icons/protoalta.svg" alt="icon formularios" class="col-icon">
                <p>Prototipo</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="4">
    <div class="container-fluid">
      <div class="row lection">
        <div class="col-xs-10 col-xs-offset-1 lection-text">
          <h3>Lecciones aprendidas</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam sapiente quis, tenetur officiis maxime expedita libero facilis necessitatibus alias omnis. Doloribus adipisci explicabo est voluptatibus iure accusantium pariatur modi eum!</p>
        </div>
      </div>
    </div>
  </section>
  <section class="jobs2">
    <div class="container-fluid">
      <div class="row other">
        <div class="col-xs-12 other-text">
          <h1>Otros Proyectos</h1>
        </div>
        <div class="col-xs-10 col-xs-offset-1">
          <div class="col-sm-4 other-sub">
            <h3>Ibank</h3>
            <div class="col-xs-12 col-sm-12 paddingcero">
              <img src="../assets/img/ibank.png" alt="ibank">
            </div>
            <div class="col-xs-12 col-sm-12 parrafo-pad">
              <a href="ibank.html"><input type="submit" value="Ver mas" class="btn btn-primary btn-lg"></a>
            </div>
          </div>
          <div class="col-sm-4 other-sub">
            <h3>San Borja en Bici</h3>
            <div class="col-xs-12 col-sm-12 paddingcero">
              <img src="../assets/img/bici.png" alt="san borja en bici">
            </div>
            <div class="col-xs-12 col-sm-12 parrafo-pad">
              <a href="sanborjaenbici.html"><input type="submit" value="Ver mas" class="btn btn-primary btn-lg"></a>
            </div>
          </div>
          <div class="col-sm-4 other-sub">
            <h3>Tef Innova</h3>
            <div class="col-xs-12 col-sm-12 paddingcero">
              <img src="../assets/img/tef.png" alt="innova">
            </div>
            <div class="col-xs-12 col-sm-12 parrafo-pad">
              <a href="tefinnova.html"><input type="submit" value="Ver más" class="btn btn-primary btn-lg"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.js"></script>
  <script src="../js/app1.js"></script>
</body>
</html>