<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Athiti|Berkshire+Swash" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/views.css">
  <title>Mis trabajos</title>
</head>
<body>
  <div class="back" id="back1">
    <i class="fas fa-arrow-left" ></i>
  </div>
  <section class="1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 title">
          <div class="col-xs-12">
            <h1 id="hol">Un nuevo reto en una nueva ciudad</h1>
          </div>
          <div class="col-xs-6 col-xs-offset-3 taxitel col-sm-4 col-sm-offset-4">
            <img src="../assets/img/logotaxitel.png" alt="ibank">
          </div>   
          <div class="col-xs-10 col-xs-offset-1">
            <h3>Reto</h3>
            <p>Rediseño app conductor, app pasajero y front de operadores; Taxitel (empresa arequipeña de taxis) busca para mejorar el posicionamiento de la empresa en la mente de sus conductores, operadores y clientes.</p>
            <div class="buttons-j">
              <p class="trabajo">Trabajo en equipo</p>
              <img src="../assets/img/woman.png" alt="woman"><img src="../assets/img/woman.png" alt="woman">
            </div>
          </div>   
          <div class="col-xs-12 problemas">
            <div class="col-sm-4 col-xs-12">
              <div class="morado">
                <p>Problema</p>
              </div>
              <div class="col-xs-10 col-xs-offset-1 morado-texto">
                <p>Las plataformas digitales de taxitel: app conductor, app pasajero y front de operadores presentaban problemas de diseño y usabilidad, lo cual no permitía a la empresa crecer más y expandirse.</p>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="morado">
                  <p>Usuario</p>
                </div>
                <div class="col-xs-10 col-xs-offset-1 morado-texto">
                  <p>Contamos con 3 tipos de usuario: conductores, pasajeros y operadores.</p>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="morado">
                  <p>Complicaciones</p>
                </div>
                <div class="col-xs-10 col-xs-offset-1 morado-texto">
                  <p>Entender el tipo de negocio, familiarizarse con la cultura arequipeña, hacer un balance entre conductor, operadora y pasajero.</p>
                </div>
            </div>
          </div>   
        </div>
      </div>
    </div>
  </section>
  <section class="2">
    <div class="container-fluid">
      <div class="row solution">
        <div class="col-xs-10 col-xs-offset-1 solution-text">
          <h1>Antes de Comenzar</h1>
          <div class="col-xs-12 antes">
            <h3>Un poco de contexto, Taxis en Arequipa vs taxis en Lima:</h3>
            <p>1. En Arequipa los taxis funcionan solo bajo el respaldo de una empresa.</p>
            <p>2. Los taxis deben tener siempre un casquete y stiker a los lados que identifiquen a qué empresa pertenecen.</p>
            <p>3. La forma en la que los arequipeños suelen pedir taxi es por medio de llamadas telefónicas o en la calle identificando a la empresa que más le agrade, y en su mayoría quienes piden por app son personas jóvenes estudiantes o trabajadores.</p>
            <p>4. Debido a su identidad, los arequipeños prefieren usar algo creado en su ciudad, es por ello que UBER a pesar de que funciona en esta ciudad no es considerada una de las principales competencias de Taxitel.</p>    
          </div>
          <div class="col-xs-12 antes">
            <h3>Primera acción:</h3>
            <p>Pusimos en marcha nuestra primera reunión donde después de comer realizamos un Canvas que nos ayudaria a conocer la situación de negocio y sus planes a futuro.</p>
            <img src="../assets/img/almuerzo.png" alt="almuerzo" class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-2">
            <img src="../assets/img/canvas.png" alt="canvas" class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
          </div>
          <div class="col-xs-12 antes">
            <h3>Nuestro orden:</h3>
            <p>Establecimos un orden para comenzar, pues teníamos 3 tipos de usuario al cual entender.</p>
            <img src="../assets/img/orden.png" alt="orden" class="col-xs-12 col-sm-8 col-sm-offset-2">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="3">
    <div class="container-fluid">
      <div class="row tools">
        <div class="col-xs-10 col-xs-offset-1 tools-text">
          <h3>Herramientas Usadas</h3>
          <div class="icon-container">
              <div class="icon-description">
                <img src="../assets/icons/bcm.png" alt="icon formularios" class="col-icon">
                <p>BCM</p>
              </div>
              <div class="icon-description">
                <img src="../assets/icons/entrevistas.png" alt="icon formularios" class="col-icon">
                <p>Entrevistas</p>
              </div>
              <div class="icon-description">
                <img src="../assets/icons/benchmark.png" alt="icon formularios" class="col-icon">
                <p>Benchmark</p>
              </div>
              <div class="icon-description">
                <img src="../assets/icons/user.png" alt="icon formularios" class="col-icon">
                <p>User persona</p>
              </div>
              <div class="icon-description">
                <img src="../assets/icons/journey.png" alt="icon formularios" class="col-icon">
                <p>Journey Map</p>
              </div>
              <div class="icon-description">
                <img src="../assets/icons/priorizacion.png" alt="icon formularios" class="col-icon">
                <p>Priorización</p>
              </div>
              <div class="icon-description">
                <img src="../assets/icons/card.png" alt="icon formularios" class="col-icon">
                <p>Card Sorting</p>
              </div>
              <div class="icon-description">
                <img src="../assets/icons/paperp.png" alt="icon formularios" class="col-icon">
                <p>Prototipo</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="4">
    <div class="container-fluid">
      <div class="row lection">
        <div class="col-xs-10 col-xs-offset-1 lection-text">
          <h3>Lecciones aprendidas</h3>
          <p>A pesar de mi background en diseño publicitario donde aprendí mucho sobre colores , contrates y formas en esta ocasión al hacer la presentación en otros dispositivos pude notar que se puedo trabajar un poco más ese aspecto.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="jobs2">
    <div class="container-fluid">
      <div class="row other">
        <div class="col-xs-12 other-text">
          <h1>Otros Proyectos</h1>
        </div>
        <div class="col-xs-10 col-xs-offset-1">
          <div class="col-sm-4 other-sub">
            <h3>San Borja en Bici</h3>
            <div class="col-xs-12 col-sm-12 paddingcero">
              <a href="sanborjaenbici.html"> <img src="../assets/img/bici.png" alt="san borja en bici"> </a>
            </div>
            <div class="col-xs-12 col-sm-12 parrafo-pad">
              <a href="sanborjaenbici.html"><input type="submit" value="Ver más" class="btn btn-primary btn-lg"></a>
            </div>
          </div>
          <div class="col-sm-4 other-sub">
            <h3>Movie Without Conflict</h3>
            <div class="col-xs-12 col-sm-12 paddingcero">
              <a href="movie.html"> <img src="../assets/img/mowc.png" alt="movie"> </a>
            </div>
            <div class="col-xs-12 col-sm-12 parrafo-pad">
              <a href="movie.html"><input type="submit" value="Ver más" class="btn btn-primary btn-lg"></a>
            </div>
          </div>
          <div class="col-sm-4 other-sub">
            <h3>Tef Innova</h3>
            <div class="col-xs-12 col-sm-12 paddingcero">
              <a href="tefinnova.html"> <img src="../assets/img/tef.png" alt="innova"> </a>
            </div>
            <div class="col-xs-12 col-sm-12 parrafo-pad">
              <a href="tefinnova.html"><input type="submit" value="Ver más" class="btn btn-primary btn-lg"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.js"></script>
  <script src="../js/app1.js"></script>
</body>
</html>